extends layout

block content
    div#example
    script(src="http://pekon.oss-cn-shanghai.aliyuncs.com/common/react.js")
    script(src="http://pekon.oss-cn-shanghai.aliyuncs.com/weixin-front/shared.js")
    script(src="http://pekon.oss-cn-shanghai.aliyuncs.com/weixin-front/index.js")
